*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100/
.Trashes/
.AppleDouble/
.LSOverride
Icon?

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# common editor/temp
*~
*.swp
*.tmp